* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    background-color: #141B25;
  }
  
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #243141;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; /* corrigido */
    gap: 150px;
  }
  
  .categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 40px 65px; /* mesmo padrão das outras seções */
  }
  
  
  .category img {
    width: 100%;
    max-width: 200px;
    height: 300px;
    border-radius: 8px;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .category img:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(87, 8, 8, 0.9);
  }
  
  .category h2 {
    margin-top: 10px;
    font-family: 'Figtree', sans-serif;
    font-size: 1.2em;
  }
  
  .subtitle-container {
    flex: 0 0 auto;
    width: 250px;
    text-align: center;
    color: white;
  }
  
  #logo-Starcine {
    margin-top: 5px;
    text-align: left;
    width: 120px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  #title-menu {
    font-family: 'Figtree', sans-serif; /* corrigido */
    font-size: 1.5rem;
  }
  
  .dropbtn i {
    margin-left: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e293b;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #334155;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-container input {
    background-color: #D9D9D9;
    width: 500px;
    height: 30px;
    border-radius: 8px;
    border: none;
  }
  
  .search-container input::placeholder {
    padding-left: 8px;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    top: 20%;
    width: 16px;
  }
  
  .favoritos-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  #fav_title {
    color: #fff;
    font-family: 'Figtree', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
  }
  
  #fav_svg {
    font-size: 21px;
    color: #fff;
  }
  
  #icon-account {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E8D8C4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #icon-account i {
    color: black;
    cursor: pointer;
    font-size: 20px;
  }
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .turn-on {
    background-color: #E8D8C4;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    height: 22px;
    width: 50px;
    transform: scale(1.5);
  }
  
  .turn-on .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 20px;
    width: 20px;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .turn-on .ball {
    transform: translateX(28px);
  }
  
  .turn-on i {
    font-size: 12px;
  }
  
  .midia-section {
    margin: 20px 65px 0 65px;
    width: auto;
  }

  #title_filmes {
    margin-top: 90px;
  }
  
  .categories h2 {
    font-family: 'Figtree', sans-serif;
    padding-bottom: 8px;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8em;
  }
  
  .categories a {
    text-decoration: none;
    color: #ffff;
  }
  
  .categories .subtitle {
    display: block;
    text-align: left;
    margin-top: 8px;
    color: #fff;
    font-family: 'Figtree', sans-serif;
    font-size: 1em;
    cursor: pointer;
    transition: color 0.9s ease;
  }
  
  
  .container-section {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 160px;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
    scrollbar-width: none;
  }
  
  .container-section::-webkit-scrollbar {
    display: none;
  }
  
  .container-section img {
    width: 160px;
    height: 240px;
    cursor: pointer;
  }
  
  .subtitle-container .click-midia {
    transition: transform 0.3s ease;
  }
  
  .click-midia:hover {
    transform: scale(1.05);
  }
  
  .subtitle-container img:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(87, 8, 8, 0.9);
    transition: all 0.4s ease;
  }
  
  .dropdown-user {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
  }
  
  .dropbtn-user {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .user-dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #1e293b;
    min-width: 120px;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .dropdown-user:hover .user-dropdown-content,
  .dropbtn-user:focus + .user-dropdown-content {
    display: block;
  }
  
  .user-dropdown-content a {
    color: #fff;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
  }
  
  .user-dropdown-content a:hover {
    background-color: #334155;
  }

  body.dark-mode {
  background-color: #141B25;
  color: #ffffff;
}

body.light-mode {
  background-color: #f5f5f5;
  color: #000000;
}

/* Opcional: ajustar outras cores, botões etc. */

  
  /* --- MODO CLARO --- */
  body:not(.dark-mode) {
    background-color: #f5f5f5;
    color: #141B25;
  }
  
  body:not(.dark-mode) header {
    background-color: #E8D8C4;
  }
  
  body:not(.dark-mode) header .dropbtn-user,
  body:not(.dark-mode) header .dropbtn,
  body:not(.dark-mode) header .dropbtn i,
  body:not(.dark-mode) header a,
  body:not(.dark-mode) header #title-menu,
  body:not(.dark-mode) header #fav_svg,
  body:not(.dark-mode) header #fav_title,
  body:not(.dark-mode) header #icon-account i {
    color: #000;
  }
  
  body:not(.dark-mode) .dropdown-content,
  body:not(.dark-mode) .user-dropdown-content {
    background-color: #f5f5f5;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  body:not(.dark-mode) .dropdown-content a {
    color: #000;
  }
  
  body:not(.dark-mode) .dropdown-content a:hover {
    background-color: #d9cdbf;
  }
  
  body:not(.dark-mode) header #icon-account,
  body:not(.dark-mode) header .turn-on,
  body:not(.dark-mode) header .search-container input {
    background-color: #FFFFFF;
  }
  
  body:not(.dark-mode) header .turn-on .ball {
    background-color: #D9D9D9;
  }
  
  body:not(.dark-mode) .midia-section,
  body:not(.dark-mode) .midia-section *,
  body:not(.dark-mode) .categories a,
  body:not(.dark-mode) .categories h2,
  body:not(.dark-mode) .categories .subtitle {
    color: #000;
  }
  
  body:not(.dark-mode) .midia-section .subtitle:hover {
    color: #141B25;
  }
  
  /* ===== TEMA CLARO ===== */
  
  .simple-footer {
    width: 100%;
    background-color: #1a1f29;
    color: #e0e0e0;
    text-align: center;
    padding: 20px 10px;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
    bottom: 0;
    left: 0;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #e02424;
  }
  
  .footer-copy {
    font-size: 14px;
    color: #aaa;
  }
  
  /* Tema claro */
  body.light .simple-footer {
    background-color: #f5f5f5;
    color: #1a1f29;
  }
  
  body.light .footer-links a {
    color: #1a1f29;
  }
  
  body.light .footer-links a:hover {
    color: #e02424;
  }
  
  body.light .footer-copy {
    color: #555;
  }
  
  